body{
    background-color: rgb(226,220,234);
    color: #0c7256;
} /*sets color of background and text*/

header{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
} /*uses flexbox to center header*/

/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
} /*uses flexbox to center body--unused since ul selector*/

header > img{
    border-radius: 100%;
    border: 1px solid black;
    box-shadow:  0 .5em 1.5em #935185;
}/*nested selector to style only the 
    image in the header with a circular border*/

ul{
    box-sizing: border-box;
    list-style: none;
    /*overrides default link style adding a box to surround
    link text*/
    margin: 0 auto;
    /*margin on top and bottom = 0. auto as second property centers. */
    padding: 2em;
    /*em are relative units used for responsive design*/
}
ul > li{
    background-color: #ae71a2
    ;
    border-radius: 1.05em;
    /*adds rounded border with a relative measure*/
    padding: 1em;
    /*how are the text is from the margin of the border*/
    margin: 1em auto;
    box-shadow:  0 1em 1.5em #935185;
    text-align: center;
}

ul > li > a{
    color:#0c7256;
    text-decoration: none;
}


